body{
    background-image: url(https://static.wikia.nocookie.net/minecraft_gamepedia/images/5/50/Survival1.17.png/revision/latest/scale-to-width-down/1200?cb=20210821180103);
    background-size: 100%;
}
.pas{
    height: 60px ;
}